*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{   
    height: 100%;
    width: 100%;
}
#header{
    height: 10%;
    width: 100%;
    background-color:rgb(255, 255, 255);
    position: fixed;
    display: flex;
    align-items: center;
}
#logo{
    height: 72%;
    margin: 20px;
}
#logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.texts{  
    margin: 25px;
    color: rgb(0, 0, 0);
    display: flex;
    font-weight: bolder;
    cursor: pointer;
}
.texts:hover{
    color: rgb(4, 190, 227);
}
#contactDetails{
    margin-left: 120px;
    font-weight: lighter;
    cursor: pointer;
}
#contactDetails:hover{
    color: rgb(4, 190, 227);
}
.icon{
    margin-left: 30px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.icon:hover{
    background-color: lightblue
}
#login{
    display: flex;
    margin-left: 40px;
    margin-right: 15px;
    font-weight: bolder;
    padding: 10px;
    border-radius: 25%;
    cursor: pointer;
}
#login:hover{
    background-color: lightblue
}
#try{
    margin-left: 50px;
    font-weight: bolder;
    cursor: pointer;
    background-color: rgb(20, 205, 20);
    color: white;
    padding: 15px;
}
#try:hover{
    background-color: rgb(4, 130, 4);
}
#fakeHeader{ 
    height: 10%;
    width: 100%;
}
#page1{
    height: 90vh;
    width: 100%;
}
#strip{
    width: 100%;
    height: 8%;
    background-color: rgb(78, 67, 239);
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
}
#content{
    width: 100%;
    height: 76%;
    display: flex;
    align-items: center;
    justify-content: center ;
}
#box1{
    width: 50%;
    height: 95%;
    background-color:white;
    margin: 10px; 

}
#box2{
    width: 50%;
    height: 95%;
    background-color:white;
    margin: 10px; 
}
#box2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#box1 h1{
    color: rgb(0, 0, 80);
    font-size: 45px;
    margin: 30px 10px;
}
#box1 p{
    font-size: x-large;
    font-weight: lighter;
    margin: 30px 10px;
}
#heading{
    width: 100%;
    height: 16%;
    background-color: rgb(251, 249, 234);
    display: flex;
    align-items: center;
    justify-content: center;
}
#btns{
    display: flex;
}
#btn1{
    margin: 10px;
    width: 22%;
    padding: 10px 20px;
    color: white;
    background-color: rgb(89, 213, 255);
    font-size: larger;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
#btn1:hover{
    background-color: rgb(9, 42, 255);
}
#btn2{
    margin: 10px;
    width: 22%;
    padding: 10px 20px;
    color: white;
    font-size: larger;
    background-color: rgb(89, 213, 255);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
#btn2:hover{
    background-color: rgb(9, 42, 255);
}
#page2{
    height: 90vh;
    width: 100%;
    background-color: rgb(255, 145, 0);
}